* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 3rem;
}

.text {
  padding: 0.8rem 0;
}

.time {
  font-size: 2.5rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 5.5rem;
}

.weather-type-icon {
  width: 10.5rem;
}

.weather-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5.5rem;
  border-bottom: 2px solid gray;
}

.other-details {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.wind-speed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wind-icon {
  width: 2.5rem;
}

.wind-direction {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.humidity {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.humidity-icon {
  width: 2.5rem;
}
